<div class="container card">
  <img
    class="card-img-top mx-auto"
    src="{{ product?.urlimg }}"
    alt="Card image cap"
    style="margin-top: 10px"
  />
  <div class="card-body">
    <div class="nombre-details">
      <h5 class="card-title">
        {{ product?.nombre }}
      </h5>

      <p class="card-text">
        {{ product?.descripcion }}
      </p>
      <p class="card-text">Precio: L. {{ product?.precio }}</p>
    </div>
  </div>
  <div class="card-footer container">
    <div class="form-group">
      <form class="row" [formGroup]="quantityForm" (ngSubmit)="cart(product)">

       
            <input
              class="col form-control"
              type="number"
              name="quantity"
              id="quantity"
              style="margin-right: 10px; max-width: 250px; border-style: none; border-radius: 2%;"
              formControlName="quantity"
              placeholder="Quantity"
            />
            <button
            type="submit"
            class="btn btn-success my-btn container col"
            >
              Add to Cart
            </button>
          </form>
    </div>
  </div>
</div>

<app-review-thumbnail></app-review-thumbnail> 