<!-- <div class="container" style="max-width: 550px">
  <h2 class="text-center mb-5">Crunchy Royal Pizza</h2>



  <div class="social-network-btn" *ngIf="isLoggedin === false">


    <div class= "form-group row">
      <div class="signin-header">
        <h4>Sign In</h4>
        
      </div>
      <input type="text" class="form-control" [value]="socialUser.email" id="login-email" placeholder="Enter your email">  
      <hr>
      <hr>
      <div class="col-md-12">
        <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> 
      </div>

      <button type="button" (click)="loginWithGoogle()" class="btn btn-danger"> <img src="https://img.icons8.com/color/16/000000/google-logo.png"> SIGN IN USING </button>
      
    
      <button type="button" (click)="loginWithGoogle()" class="btn btn-primary">Login with Facebook</button>
    
      <button type="button" (click)="loginWithGoogle()" class="btn btn-success">Login with Twitter  </button>
    </div>


  </div>

  <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
    </div>

    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
</div> -->
<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material form-material" action="#" method="POST">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center heading">Sign In</h3>
                  <br />
                </div>
              </div>
              <!-- <div class="form-group form-primary">
                <input type="text" class="form-control" [value]="socialUser.email" id="email" placeholder="Enter your email...">
              </div> -->

              <br />
              <div class="col-md-12 container">
                <div class="row" style="text-align: center">
                  <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="loginWithGoogle()">
                    <img src="https://imgur.com/pycZLwu.png" style="width: auto;height: 20px;"/>  Sign In Using Google</a>
                </div>
                <div class="row" style="text-align: center;margin-top: 10px;">
                  <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="loginWithGoogle()">
                    <img src="https://imgur.com/9HoShck.png" style="width: auto;height: 30px;"/>Sign In Using Facebook</a>
                </div>
                
              </div>
              <br />
              <p class="text-inverse text-center">
                Don't have an account yet?    
                <a href="?= base_url() ?>auth/login" data-abc="true">Sign Up</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
