
<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material form-material" action="#" method="POST">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center heading">Sign Up</h3>
                  <br />
                  <div class="form-group container">
                    <form [formGroup]="useRegistrationForm" (ngSubmit)="onFormSubmit()">

                      <p >
                        <label for="nombre">Name: </label>&nbsp;
                        <input class="form-control" type="text" id="nombre" name="nombre" formControlName="nombre">
                      </p>
                     
                      <div
                        *ngIf="!nombre?.valid && (nombre?.dirty || nombre?.touched)">
                        <small [hidden]="!nombre.errors.required" style="color: red;">
                          First Name is required
                        </small>

                      </div>
                      <p>
                        <label for="email">Email: </label>&nbsp;
                        <input class="form-control" type="text" id="email" name="email" formControlName="email">
                      </p>
                     
                      <div
                        *ngIf="!email?.valid && (email?.dirty || email?.touched )">
                        <small [hidden]="!email.errors.required" style="color: red;">
                          Email is required
                        </small>

                      </div>
                      <p>
                        <label for="hash_password">Password: </label>&nbsp;
                        <input class="form-control" type="password" id="hash_password" name="hash_password" formControlName="hash_password">
                      </p>
                     
                      <div
                        *ngIf="!hash_password?.valid && (hash_password?.dirty ||hash_password?.touched)">
                        <small [hidden]="!hash_password.errors.required" style="color: red;">
                          Password is required
                        </small>

                      </div>
                      <p>
                        <button class="container btn btn-primary" type="submit" [disabled]="!useRegistrationForm.valid">Sign Up</button>
                      </p>
                      <br>

                    </form>
                    <hr>

                  </div>
                </div>
              </div>
              <br />
              <div class="col-md-12 container">
                <div class="row" style="text-align: center">
                  <a
                    class="
                      btn btn-lg btn-google btn-block
                      text-uppercase
                      btn-outline
                    "
                    (click)="signUpWithGoogle()"
                  >
                    <img
                      src="https://imgur.com/pycZLwu.png"
                      style="width: auto; height: 20px"
                    />
                    Sign Up Using Google</a
                  >
                </div>
                <div class="row" style="text-align: center; margin-top: 10px">
                  <a
                    class="
                      btn btn-lg btn-google btn-block
                      text-uppercase
                      btn-outline
                    "
                    (click)="signUpWithGoogle()"
                  >
                    <img
                      src="https://imgur.com/9HoShck.png"
                      style="width: auto; height: 30px"
                    />Sign Up Using Facebook</a
                  >
                </div>
              </div>
              <br />
              <p class="text-inverse text-center">
                Do you have an account already?
                <a class="btn btn-primary" routerLink="/login" routerLinkActive="active" data-abc="true">Sign In</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
